[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightspark = "*"
flask = "*"
requests = "*"
uma-sdk = "*"
pyjwt = "*"
uma-auth-api = "*"
bolt11 = "*"
flask-cors = "*"
bech32 = "*"

[dev-packages]
black = "<24"
isort = "*"
pyre-check = "*"
pytest = "~=7.4.4"
pylint = "*"
# Need to lock this version to avoid breaking older python versions:
libcst = "==1.1.0"
exceptiongroup = "*"
