[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightspark = "*"
flask = "*"
requests = "*"
# NOTE: Change this to your local checkout of the UMA Python SDK and run pipenv install.
uma-sdk = {path = "./../uma-python-sdk"}

[dev-packages]
black = "*"
isort = "*"
pyre-check = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.11"
